# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ambiente virtual
venv/
ENV/

# Banco de dados SQLite
*.db
*.sqlite3

# Arquivos de log
*.log

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
tmp/
temp/ 